@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/festival.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
}

h1 {
  color: white;
  text-transform: uppercase;
}
h2 {
  text-align: center;
  margin: 0 0 20px;
}
h3 {
  text-transform: uppercase;
}
.anordnung{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: white;
  text-decoration: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.textblockweiss{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin: 5vh 0;
  padding: 2vh 2vw;
}

.textblockweiss{
  width: 60vw;
  background-color: rgba(256, 256, 256, 0.7);
}

.anmeldebutton {
  box-shadow:inset 0px 1px 0px 2px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:17px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:9px 34px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.anmeldebutton:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color:#f6f6f6;
}
.anmeldebutton:active {
  position:relative;
  top:1px;
}



.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  /* bottom: 0;*/
  left: 0;
  visibility: hidden;
  font-size: .75rem;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

